{% extends 'base.html' %}
{% block content %}

<form action="{% url 'marker:marker_edit' %}" method="post">
    {% csrf_token %}

    <input type="text" name="latitude" id="latitude" value="33.45078616991599" style="display:none">
    <input type="text" name="longitude" id="longitude" value="126.57059088071355" style="display:none">
    <!--주소{{ marker.address }}<br>-->
    가로등 수<input type="text" name="street_lamp" id="street_lamp"><br>
    유동인구 수<input type="text" name="population" id="population"><br>
    안전 캔디<input type="number" max="5" min="1" name="rating" id="rating"><br>
    자세한 리뷰<input type="text" name="body" id="body"><br>
    사진 업로드<input type="file" name="image" id="image" accept="image/*"><br>
    <button type="submit">작성하기</button>
</form>
{% endblock %}