{% extends 'base.html' %} {% block content %}

<div>
  <div id="map" style="width: 300px; height: 400px; margin: 0 auto"></div>
  <!--POST로 뷰에 위도, 경도 정보 보냄-->
  <form action="{% url 'marker:markers' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="latitude" id="latitude" />
    <input type="hidden" name="longitude" id="longitude" />
    <button type="submit">주변 상황 보기</button>
  </form>
  <!--받아온 정보가 있다면 출력-->
  {% for marker in markers %}
  <div>
    <div>안전캔디: {{ marker.rating }}</div>
    <div>유동인구: {{ marker.population }}</div>
    <div>가로등: {{ marker.street_lamp }}</div>
    <div>작성일: {{ marker.regTime }}</div>
    <a href="{% url 'marker:marker_detail' pk=marker.pk %}">상세보기</a>
  </div>
  {% endfor %}

  <script>
    var options = {
      center: new kakao.maps.LatLng(33.450701, 126.570667),
      level: 2,
    };

    var map = new kakao.maps.Map(document.getElementById("map"), options);
    var marker;

    kakao.maps.event.addListener(map, "click", function (mouseEvent) {
      var latlng = mouseEvent.latLng;
      var latitude = latlng.getLat();
      var longitude = latlng.getLng();

      // 위도, 경도 값을 입력 폼에 설정
      document.getElementById("latitude").value = latitude;
      document.getElementById("longitude").value = longitude;

      // 마커 추가
      marker = new kakao.maps.Marker({
        position: latlng,
      });
      console.log(latitude);
      console.log(longitude);
      marker.setMap(map);
    });
  </script>
</div>
{% endblock %}
