{% extends 'base.html' %} {% block content %} {% if status == 0 %}
<form id="statusForm" method="POST">
  {% csrf_token %}
  <nav class="nav">
    <input type="hidden" id="statusInput" name="status" value="" />
    <a
      href=""
      class="nav-item is-active"
      id="PoliceTab"
      active-color="#7f50ff"
      onclick="submitStatus(0); return false;"
      >Police</a
    >
    <a
      href=""
      class="nav-item"
      id="RoadTab"
      active-color="#ffbd3d"
      onclick="submitStatus(1); return false;"
      >Road</a
    >
    <span class="nav-indicator"></span>
  </nav>
</form>
{% else %}
<form id="statusForm" method="POST">
  {% csrf_token %}
  <nav class="nav">
    <input type="hidden" id="statusInput" name="status" value="" />
    <a
      href=""
      class="nav-item"
      id="PoliceTab"
      active-color="#7f50ff"
      onclick="submitStatus(0); return false;"
      >Police</a
    >
    <a
      href=""
      class="nav-item is-active"
      id="RoadTab"
      active-color="#ffbd3d"
      onclick="submitStatus(1); return false;"
      >Road</a
    >
    <span class="nav-indicator"></span>
  </nav>
</form>
{% endif %}

<form class="search_bar" onsubmit="searchPlaces(); return false;">
  <input
    type="text"
    placeholder="확인하고 싶은 지역을 입력하세요."
    id="region"
    size="15"
    value=""
  /><button id="submit_btn" type="submit">
    <img src="/static/images/search.svg" />
  </button>
</form>
<div
  id="map"
  style="width: 300px; height: 350px; margin: 20px auto; border-radius: 10px"
></div>
{% if status == 0 %}
<div>{% include 'marker/police.html' %}</div>
{% else %}
<div>{% include 'marker/road.html' %}</div>
{% endif %}
<script>
  function submitStatus(status) {
    var statusInput = document.getElementById("statusInput");
    statusInput.value = status;
    document.getElementById("statusForm").submit();
  }

  const indicator = document.querySelector(".nav-indicator");
  const items = document.querySelectorAll(".nav-item");

  function handleIndicator(el) {
    items.forEach((item) => {
      item.classList.remove("is-active");
      item.removeAttribute("style");
    });

    indicator.style.width = `${el.offsetWidth}px`;
    indicator.style.left = `${el.offsetLeft}px`;
    indicator.style.backgroundColor = el.getAttribute("active-color");

    el.classList.add("is-active");
    el.style.color = el.getAttribute("active-color");
  }

  items.forEach((item, index) => {
    item.addEventListener("click", (e) => {
      handleIndicator(e.target);
    });
    item.classList.contains("is-active") && handleIndicator(item);
  });
</script>
{% endblock %}
