{% extends 'base.html' %} {% block content %} {% load static %}
<div id="sform">
  <form action="{% url 'marker:marker_edit' %}" id="dform" method="post">
    {% csrf_token %}
    <h2>주소</h2>
    <input
      type="text"
      name="latitude"
      id="latitude"
      value="{{data.lat}}"
      style="display: none"
      required
    />
    <input
      type="text"
      name="longitude"
      id="longitude"
      value="{{data.lng}}"
      style="display: none"
      required
    />
    <p id="address_print"></p>
    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var lat = urlParams.get("lat");
      var lng = urlParams.get("lng");
      var address = urlParams.get("address");
      document.getElementById("latitude").value = lat;
      document.getElementById("longitude").value = lng;
      document.getElementById("address_print").innerText = address;
    </script>
    <h2>가로등 수</h2>
    <input
      type="text"
      name="street_lamp"
      id="street_lamp"
      style="display: none"
      required
    />
    <button class="my-button" id="bad" onclick="changeButtonColor_bad()">
      별로예요
    </button>
    <button class="my-button" id="soso" onclick="changeButtonColor_soso()">
      적당해요
    </button>
    <button class="my-button" id="good" onclick="changeButtonColor_good()">
      만족해요
    </button>

    <h2>유동 인구 수</h2>
    <input
      type="text"
      name="population"
      id="population"
      style="display: none"
      required
    />
    <button class="my-button" id="bad1" onclick="changeButtonColor_bad1()">
      별로예요
    </button>
    <button class="my-button" id="soso1" onclick="changeButtonColor_soso1()">
      적당해요
    </button>
    <button class="my-button" id="good1" onclick="changeButtonColor_good1()">
      만족해요
    </button>
    <h2>안전 캔디</h2>
    <div>
      <div class="safecandy">
        <input
          type="number"
          name="rating"
          id="candy"
          style="display: none"
          required
        />
        <img
          class="myImage"
          type="image"
          src="{% static 'images/candy_grey.png' %}"
          onclick="changeImages1()"
          style="width: 50px; height: 50px"
        />

        <img
          class="myImage"
          type="image"
          src="{% static 'images/candy_grey.png' %}"
          onclick="changeImages2()"
          style="width: 50px; height: 50px"
        />
        <img
          class="myImage"
          type="image"
          src="{% static 'images/candy_grey.png' %}"
          onclick="changeImages3()"
          style="width: 50px; height: 50px"
        />
        <img
          class="myImage"
          type="image"
          src="{% static 'images/candy_grey.png' %}"
          onclick="changeImages4()"
          style="width: 50px; height: 50px"
        />
        <img
          class="myImage"
          type="image"
          src="{% static 'images/candy_grey.png' %}"
          onclick="changeImages5()"
          style="width: 50px; height: 50px"
        />
      </div>
    </div>
    <div>
      <h2>자세한 리뷰</h2>
      <textarea name="body" placeholder="리뷰할 내용을 입력해 주세요."
      style="width: 330px" required /textarea>
      <br />
      <label for="photo-upload" class="upload-button"></label>
      <input type="file" name="image" id="photo-upload" />
    </div>
    <br />
    <div>
      <button id="reset" type="reset">취소</button>
      <button id="submit" type="submit">작성</button>
    </div>
    <script>
      const candy_value = 0;

      function changeImages1() {
        var candies = document.getElementById("candy");
        var images = document.getElementsByClassName("myImage");
        for (var i = 0; i < images.length; i++) {
          images[i].src = "{% static 'images/candy_grey.png' %}";
        }
        for (var i = 0; i < 1; i++) {
          images[i].src = "{% static 'images/candy_purple.png' %}";
        }
        candies.value = 1;
        candy_value = 1;
      }

      function changeImages2() {
        var candies = document.getElementById("candy");
        var images = document.getElementsByClassName("myImage");
        for (var i = 0; i < images.length; i++) {
          images[i].src = "{% static 'images/candy_grey.png' %}";
        }
        for (var i = 0; i < 2; i++) {
          images[i].src = "{% static 'images/candy_purple.png' %}";
        }
        candies.value = 2;
        candy_value = 2;
      }

      function changeImages3() {
        var candies = document.getElementById("candy");
        var images = document.getElementsByClassName("myImage");
        for (var i = 0; i < images.length; i++) {
          images[i].src = "{% static 'images/candy_grey.png' %}";
        }
        for (var i = 0; i < 3; i++) {
          images[i].src = "{% static 'images/candy_purple.png' %}";
        }
        candies.value = 3;
        candy_value = 3;
      }

      function changeImages4() {
        var candies = document.getElementById("candy");
        var images = document.getElementsByClassName("myImage");
        for (var i = 0; i < images.length; i++) {
          images[i].src = "{% static 'images/candy_grey.png' %}";
        }
        for (var i = 0; i < 4; i++) {
          images[i].src = "{% static 'images/candy_purple.png' %}";
        }
        candies.value = 4;
        candy_value = 4;
      }

      function changeImages5() {
        var candies = document.getElementById("candy");
        var images = document.getElementsByClassName("myImage");
        for (var i = 0; i < 5; i++) {
          images[i].src = "{% static 'images/candy_purple.png' %}";
        }
        candies.value = 5;
        candy_value = 5;
      }

      function changeButtonColor_bad() {
        var lamps = document.getElementById("street_lamp");
        var button = document.getElementById("bad");
        button.style.backgroundColor = "#D3C3F7"; /* 변경할 색상 */
        lamps.value = "별로예요";
        console.log(lamps.value);
      }

      function changeButtonColor_soso() {
        var lamps = document.getElementById("street_lamp");
        var button = document.getElementById("soso");
        button.style.backgroundColor = "#D3C3F7"; /* 변경할 색상 */
        lamps.value = "적당해요";
        console.log(lamps.value);
      }

      function changeButtonColor_good() {
        var lamps = document.getElementById("street_lamp");
        var button = document.getElementById("good");
        button.style.backgroundColor = "#D3C3F7"; /* 변경할 색상 */
        lamps.value = "만족해요";
        console.log(lamps.value);
      }

      function changeButtonColor_bad1() {
        var population = document.getElementById("population");
        var button = document.getElementById("bad1");
        button.style.backgroundColor = "#D3C3F7"; /* 변경할 색상 */
        population.value = "별로예요";
        console.log(population.value);
      }

      function changeButtonColor_soso1() {
        var population = document.getElementById("population");
        var button = document.getElementById("soso1");
        button.style.backgroundColor = "#D3C3F7"; /* 변경할 색상 */
        population.value = "적당해요";
        console.log(population.value);
      }

      function changeButtonColor_good1() {
        var population = document.getElementById("population");
        var button = document.getElementById("good1");
        button.style.backgroundColor = "#D3C3F7"; /* 변경할 색상 */
        population.value = "만족해요";
        console.log(population.value);
      }
    </script>

    <!--  <input-->
    <!--    type="text"-->
    <!--    name="latitude"-->
    <!--    id="latitude"-->
    <!--    value="33.45078616991599"-->
    <!--    style="display: none"-->
    <!--  />-->
    <!--  <input-->
    <!--    type="text"-->
    <!--    name="longitude"-->
    <!--    id="longitude"-->
    <!--    value="126.57059088071355"-->
    <!--    style="display: none"-->
    <!--  />-->
  </form>
</div>
{% endblock %}
