{% extends 'base.html' %} {% block content %} {% load static %}
<div id="sform">
  <h2>주소</h2>
  <p id="address_print">{{marker.address}}</p>
  <h2>가로등 수</h2>
  <div class="numtagbox">
    {% if marker.street_lamp == "별로예요" %}
    <div class="my-numtag" id="bad" style="background-color: #d3c3f7">
      별로예요
    </div>
    {% else %}
    <div class="my-numtag" id="bad">별로예요</div>
    {% endif %} {% if marker.street_lamp == "적당해요" %}
    <div class="my-numtag" id="bad" style="background-color: #d3c3f7">
      적당해요
    </div>
    {% else %}
    <div class="my-numtag" id="bad">적당해요</div>
    {% endif %}{% if marker.street_lamp == "만족해요" %}
    <div class="my-numtag" id="bad" style="background-color: #d3c3f7">
      만족해요
    </div>
    {% else %}
    <div class="my-numtag" id="bad">만족해요</div>
    {% endif %}
  </div>

  <h2>유동 인구 수</h2>
  <div class="numtagbox">
    {% if marker.street_lamp == "별로예요" %}
    <div class="my-numtag" id="bad" style="background-color: #d3c3f7">
      별로예요
    </div>
    {% else %}
    <div class="my-numtag" id="bad">별로예요</div>
    {% endif %} {% if marker.street_lamp == "적당해요" %}
    <div class="my-numtag" id="bad" style="background-color: #d3c3f7">
      적당해요
    </div>
    {% else %}
    <div class="my-numtag" id="bad">적당해요</div>
    {% endif %} {% if marker.street_lamp == "만족해요" %}
    <div class="my-numtag" id="bad" style="background-color: #d3c3f7">
      만족해요
    </div>
    {% else %}
    <div class="my-numtag" id="bad">만족해요</div>
    {% endif %}
  </div>
  <h2>안전 캔디</h2>
  <div>
    <div class="safecandy">
      {% with rating_count=marker.rating %} {% for i in ''|rjust:rating_count %}
      <img src="/static/images/candy_purple.png" width="40px" />
      {% endfor %} {% endwith %}
    </div>
  </div>
  <div>
    <h2>자세한 리뷰</h2>
    <p id="address_print">{{marker.body}}</p>
  </div>
  <div id="comment-box">
    {% for comment in comments %}
    <div
      id="text-name"
      style="
        color: #977dff;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin-top: 20px;
      "
    >
      {{ comment.user.userName }}
    </div>
    <div
      id="text"
      style="
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      "
    >
      {{ comment.body }}
    </div>
    {%endfor %}
    <form
      id="form"
      action="{% url 'marker:marker_detail' pk=marker.pk %}"
      method="post"
      style="display: flex; align-items: center; justify-content: center"
    >
      {% csrf_token %}
      <div class="search_bar" style="width: 250px">
        <input
          type="text"
          name="body"
          id="commAddBox"
          placeholder="댓글을 입력해주세요"
        />
      </div>
      <button
        id="commAddBtn"
        type="submit"
        style="
          border-radius: 60px;
          border: 1px solid #f3eff6;
          background: var(--unnamed, #7f50ff);
          box-shadow: 0px 8px 25px 0px rgba(13, 10, 44, 0.06);
          width: 70px;
          height: 50px;
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        "
      >
        작성
      </button>
    </form>
  </div>

  <!--  <input-->
  <!--    type="text"-->
  <!--    name="latitude"-->
  <!--    id="latitude"-->
  <!--    value="33.45078616991599"-->
  <!--    style="display: none"-->
  <!--  />-->
  <!--  <input-->
  <!--    type="text"-->
  <!--    name="longitude"-->
  <!--    id="longitude"-->
  <!--    value="126.57059088071355"-->
  <!--    style="display: none"-->
  <!--  />-->
</div>
{% endblock %}