<!--POST로 뷰에 위도, 경도 정보 보냄-->
<h5 id="address" style="color: #977dff"></h5>
<h5 id="road_address" style="color: #977dff"></h5>
<form action="{% url 'marker:markers' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="latitude" id="latitude" />
  <input type="hidden" name="longitude" id="longitude" />
  <button type="submit" class="search_road">주변 상황 보기</button>
</form>
<!--받아온 정보가 있다면 출력-->
{% if markers %} {% for marker in markers %}
<a class="preview" href="{% url 'marker:marker_detail' pk=marker.pk %}">
  <div class="rating">
    <div>
      {% with rating_count=marker.rating %} {% for i in ''|rjust:rating_count %}
      <img src="/static/images/purplecandy.png" width="20" />
      {% endfor %} {% endwith %}
    </div>
    {{marker.regTime | date:"Y.m.d"}}
  </div>
  <div class="pre_content">
    <p class="pre_title">유동인구</p>
    <p>{{ marker.population }}</p>
    <p>|</p>
    <p class="pre_title">가로등</p>
    <p>{{ marker.street_lamp }}</p>
  </div>
</a>
{% endfor %} {% else %}
<h5>아직 작성된 골목길이 없습니다.</h5>
{% endif %}
<form id="addressForm" method="post">
  {% csrf_token %}
  <input type="hidden" id="addressInput" name="address" value="" />
  <button class="edit_road" onclick="submitAddress(0); return false;">
    작성하기
  </button>
</form>
<script>
  var options = {
    center: new kakao.maps.LatLng(33.450701, 126.570667),
    level: 5,
  };

  var map = new kakao.maps.Map(document.getElementById("map"), options);
  var marker; // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
  var infowindow = new kakao.maps.InfoWindow({ zindex: 1 });
  var detailAddr;

  if (navigator.geolocation) {
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function (position) {
      var lat = position.coords.latitude, // 위도
        lon = position.coords.longitude; // 경도

      var locPosition = new kakao.maps.LatLng(lat, lon);

      // 마커를 표시
      displayMarker(locPosition);
    });
  } else {
    var locPosition = new kakao.maps.LatLng(33.450701, 126.570667);

    displayMarker(locPosition);
  }
  var imageSrc = "/static/images/gretel.png";
  // 마커 이미지의 이미지 크기 입니다
  var imageSize = new kakao.maps.Size(41, 55);

  // 마커 이미지를 생성합니다
  var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
  // 지도에 마커를 표시하는 함수
  function displayMarker(locPosition) {
    var marker = new kakao.maps.Marker({
      map: map,
      position: locPosition,
      image: markerImage,
    });

    map.setCenter(locPosition);
  }

  kakao.maps.event.addListener(map, "click", function (mouseEvent) {
    if (marker) {
      // 기존에 생성된 마커가 있다면 삭제
      marker.setMap(null);
    }
    var latlng = mouseEvent.latLng;
    var latitude = latlng.getLat();
    var longitude = latlng.getLng();

    // 위도, 경도 값을 입력 폼에 설정
    document.getElementById("latitude").value = latitude;
    document.getElementById("longitude").value = longitude;

    var imageSrc = "/static/images/road.png";
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(26, 32);

    // 마커 이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
    // 마커 추가
    marker = new kakao.maps.Marker({
      position: latlng,
      image: markerImage,
    });
    console.log(latitude);
    console.log(longitude);
    marker.setMap(map);

    getAddr(latitude, longitude);
  });
  var address, road_address;
  function getAddr(lat, lng) {
    let geocoder = new kakao.maps.services.Geocoder();

    let coord = new kakao.maps.LatLng(lat, lng);
    let callback = function (result, status) {
      if (status === kakao.maps.services.Status.OK) {
        console.log(result);
        address = result[0].address.address_name;
        console.log(address);
        document.getElementById("address").innerText = address;
        if (!!result[0].road_address) {
          road_address = result[0].road_address.address_name;
          console.log(road_address);
          document.getElementById("road_address").innerText = road_address;
        } else {
          document.getElementById("road_address").innerText = " ";
        }
      }
    };
    var addressList = [address, road_address, latitude, longitude];
    addressInput.value = addressList;
    console.log(addressList);
    geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
  }
  function submitAddress() {
    var addressInput = document.getElementById("AddressInput");
    addressInput.value = address;
    document.getElementById("addressForm").submit();
  }
</script>
