<!DOCTYPE html>
<html lang="ko">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>내 귀가 캔디</title>
    <link
      href="/static/images/symbol.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="stylesheet" href="{% static 'police.css'%}" />
    <link rel="stylesheet" href="{% static 'road.css'%}" />
    <link rel="stylesheet" href="{% static 'review.css'%}" />
    <link rel="stylesheet" href="{% static 'siren.css'%}" />
  </head>
  {% include 'head.html' %}
  <body>
    <div class="content">
      {% include 'header.html' %} {% block content %} {% endblock %}
      <div>{% include 'footer.html' %}</div>
    </div>
  </body>
</html>
