<!DOCTYPE html>
<html lang="ko">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>{% block head_title %}내 귀가 캔디{% endblock %}</title>
    <link
      href="/static/images/candy.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="stylesheet" href="{% static 'police.css'%}" />
    <link rel="stylesheet" href="{% static 'road.css'%}" />
    <link rel="stylesheet" href="{% static 'review.css'%}" />
  </head>
  {% include 'head.html' %}
  <body>
    <div class="content">
      {% include 'header.html' %}
      <hr />
      {% block content %} {% endblock %}
      <hr />
      {% include 'footer.html' %}
    </div>
  </body>
</html>
