<div class="footer" style="padding-left: 24px; padding-top: 24px">
  <div
    class="footer_title"
    style="
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 10px;
    "
  >
    <p>안전히 가세요, 여러분!</p>
    <p>HERETHON 15</p>
  </div>
  <table id="table" style="width: 375px; font-size: 12px" text-align="left">
    <tr>
      <td width="60px">디자인</td>
      <td>김채현</td>
    </tr>
    <tr>
      <td width="60px">Front-end</td>
      <td>김채현 김소영 박상아</td>
    </tr>
    <tr>
      <td width="60px">Back-end</td>
      <td>양수빈 이지원</td>
    </tr>
  </table>
  <p
    id="copyright"
    style="
      color: var(--neutral-600, #6f6c90);
      font-family: DM Sans;
      font-size: 5px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    "
  >
    Copyright © 2023 내 귀가 캔디 | All Rights Reserved
  </p>
</div>
