<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nav바</title>
    <link rel="stylesheet" href="../static/nav.css" />
  </head>
  <body>
    <div id="container">
      <div id="navbox">
        <div id="navtext">
          <img
            src="static/images/내귀가캔디_헤비.png"
            style="position: relative; left: 35px; top: 29px"
          />
        </div>
        <div id="navicon">
          <img
            src="../static/images/Group 1.png"
            style="position: relative; left: 330px; top: 37px"
          />
        </div>
      </div>
      <nav class="navbar">
        <ul class="navbar__menu">
          <li><a href="#">Map</a></li>
          <li><a href="#">대처요령</a></li>
          <li><a href="#">사이렌</a></li>
          <li><a href="#">로그인</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
