<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/solution.css?after"
    />
  </head>
  <body>
    <div id="bar">
      <div id="title">대처 요령</div>
      <div id="icon">
        <img src="../static/images/심볼.png" />
      </div>
      <div id="list">
        <img src="../static/images/Group 1.png" />
      </div>
    </div>
    <div id="time-tap">
      <div id="time-text">최신순</div>
    </div>
    <div id="name-tap">
      <div id="name-text">이름순</div>
    </div>
    <div id="list-one">
      <div id="text-one">대중교통 내 성범죄 대처요령</div>
      <button id="one">
        <img src="../static/images/down_line.png" />
      </button>
    </div>
    <div id="list-two">
      <div id="text-two">스토킹 대처요령</div>
      <button id="two">
        <img src="../static/images/down_line.png" />
      </button>
    </div>
    <div id="list-three">
      <div id="text-three">스토킹 가해 신고 후 추가 보호</div>
      <button id="three">
        <img src="../static/images/down_line.png" />
      </button>
    </div>
    <div id="list-four">
      <div id="text-four">스토킹 피해자 지원 제도</div>
      <button id="four">
        <img src="../static/images/down_line.png" />
      </button>
    </div>
    <div id="list-five">
      <div id="text-five">불법 촬영 등에 대한 처벌</div>
      <button id="five">
        <img src="../static/images/down_line.png" />
      </button>
    </div>
    <div id="page-one">1</div>
    <div id="page-two">2</div>
    <div id="footer">
      <div id="footer-text">
        안전히 가세요, 여러분!
        <br />
        HERETHON 15
      </div>
      <div id="footer-name">
        <br />
        디자인 김채현
        <br />
        Front-end 김채현 김소영 박상아
        <br />
        Back-end 양수빈 이지원
      </div>
    </div>
  </body>
</html>
