{% extends 'base.html' %} {% block content %} {%load static%}
<div>
  <table id="siren_image" text-align="center">
    <tr>
      <td>
        <button
          class="round-button"
          href=""
          value="play"
          onclick="play1()"
          width="82"
          height="82"
        >
          <div id="myDiv">
            <img
              src="{% static 'images/policecar.png' %}"
              width="82"
              height="81"
            />
          </div>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          class="round-button"
          href=""
          value="play"
          onclick="play2()"
          width="82"
          height="82"
        >
          <div id="myDiv">
            <img
              src="{% static 'images/firetruck.png' %}"
              width="63.94"
              height="45.4"
            />
          </div>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          class="round-button"
          href=""
          value="play"
          onclick="play3()"
          width="82"
          height="82"
        >
          <div id="myDiv">
            <img
              src="{% static 'images/ambulance.png' %}"
              width="50"
              height="50"
            />
          </div>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          class="round-button"
          href=""
          value="play"
          onclick="play4()"
          width="82"
          height="82"
        >
          <div id="myDiv">
            <img
              src="{% static 'images/whistle.png' %}"
              width="62"
              height="67"
            />
          </div>
        </button>
      </td>
    </tr>
  </table>
</div>
<script>
  var buttons = document.getElementsByClassName("round-button");

  function play1() {
    var audio = new Audio("/audio/policecar.mp3");
    var audio = new Audio("{% static '/audio/policecar.mp3' %}");
    audio.play();
  }

  function play2() {
    var audio = new Audio("/audio/firetruck.mp3");
    var audio = new Audio("{% static '/audio/firetruck.mp3' %}");
    audio.play();
  }

  function play3() {
    var audio = new Audio("/audio/ambulance.mp3");
    var audio = new Audio("{% static '/audio/ambulance.mp3' %}");
    audio.play();
  }

  function play4() {
    var audio = new Audio("/audio/whistle.mp3");
    var audio = new Audio("{% static '/audio/whistle.mp3' %}");
    audio.play();
  }
</script>
{% endblock %}
