<<<<<<< HEAD
footer {
<<<<<<< HEAD
  bottom: 0;
  left: 0;
  height: 227px;
  width: 375px;
  background-color: #ddd;
  padding: 15px;
}

#bye {
  font-size: 25px;
}

#table {
  font-size: 15px;
}

#copyright {
  font-size: 5px;
}
=======
    bottom: 0; left: 0;
    height: 227px;width: 375px;
    background-color: #ddd;
    padding: 15px;    
}

#bye{
    font-size: 25px;
}

#table{
    font-size: 15px;
}

#copyright{
    font-size: 5px;
}
>>>>>>> 6d603c7382661d5407ea79c529c405e269447202
=======
>>>>>>> 849cdb1e57a65d535c49e6dfa840d90b72534c6a
