footer {
    bottom: 0; left: 0;
    height: 227px;width: 375px;
    background-color: #ddd;
    padding: 15px;    
}

#bye{
    font-size: 25px;
}

#table{
    font-size: 15px;
}

#copyright{
    font-size: 5px;
}